body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1181px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2121 {
  position:absolute;
  left:55px;
  top:22px;
  width:257px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2122 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:762px;
  height:531px;
}
#u2123 {
  position:absolute;
  left:64px;
  top:215px;
  width:762px;
  height:531px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:258px;
  width:758px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1096px;
  height:294px;
}
#u2125 {
  position:absolute;
  left:85px;
  top:756px;
  width:1096px;
  height:294px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:139px;
  width:1092px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2127 {
  position:absolute;
  left:91px;
  top:1099px;
  width:1051px;
  height:87px;
}
#u2128 {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  word-wrap:break-word;
}
