body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:775px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3592 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:35px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3593 {
  position:absolute;
  left:49px;
  top:50px;
  width:726px;
  height:35px;
}
#u3594 {
  position:absolute;
  left:2px;
  top:10px;
  width:722px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  height:306px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3595 {
  position:absolute;
  left:50px;
  top:85px;
  width:725px;
  height:306px;
}
#u3596 {
  position:absolute;
  left:2px;
  top:145px;
  width:721px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u3597 {
  position:absolute;
  left:740px;
  top:60px;
  width:20px;
  height:15px;
}
#u3598 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3599 {
  position:absolute;
  left:690px;
  top:352px;
  width:60px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3600 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u3601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3601 {
  position:absolute;
  left:607px;
  top:352px;
  width:60px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3602 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u3601_ann {
  position:absolute;
  left:660px;
  top:348px;
  width:1px;
  height:1px;
}
#u3603_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3603 {
  position:absolute;
  left:60px;
  top:60px;
  width:127px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3604 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u3605 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3606 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3607 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3608 {
  position:absolute;
  left:60px;
  top:140px;
  width:300px;
  height:25px;
}
#u3608_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u3609 {
  position:absolute;
  left:69px;
  top:146px;
  width:14px;
  height:12px;
}
#u3610 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3611 {
  position:absolute;
  left:370px;
  top:140px;
  width:50px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3612 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u3613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3613 {
  position:absolute;
  left:60px;
  top:193px;
  width:71px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3614 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3615 {
  position:absolute;
  left:131px;
  top:193px;
  width:95px;
  height:22px;
}
#u3615_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3615_input:disabled {
  color:grayText;
}
#u3615_ann {
  position:absolute;
  left:219px;
  top:189px;
  width:1px;
  height:1px;
}
#u3616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3616 {
  position:absolute;
  left:267px;
  top:193px;
  width:99px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3617 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3618 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3619 {
  position:absolute;
  left:370px;
  top:193px;
  width:106px;
  height:22px;
}
#u3619_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u3620 {
  position:absolute;
  left:461px;
  top:197px;
  width:13px;
  height:13px;
}
#u3621 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3622 {
  position:absolute;
  left:401px;
  top:195px;
  width:53px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3623 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3624 {
  position:absolute;
  left:510px;
  top:193px;
  width:106px;
  height:22px;
}
#u3624_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u3625 {
  position:absolute;
  left:599px;
  top:197px;
  width:13px;
  height:13px;
}
#u3626 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3627 {
  position:absolute;
  left:539px;
  top:195px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3628 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3629 {
  position:absolute;
  left:492px;
  top:197px;
  width:6px;
  height:16px;
}
#u3630 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u3631 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3632 {
  position:absolute;
  left:60px;
  top:225px;
  width:695px;
  height:109px;
}
#u3633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:29px;
}
#u3633 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3634 {
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3633_ann {
  position:absolute;
  left:30px;
  top:0px;
  width:1px;
  height:1px;
}
#u3635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u3635 {
  position:absolute;
  left:44px;
  top:0px;
  width:109px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3636 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u3637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:29px;
}
#u3637 {
  position:absolute;
  left:153px;
  top:0px;
  width:208px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3638 {
  position:absolute;
  left:2px;
  top:6px;
  width:204px;
  word-wrap:break-word;
}
#u3639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:29px;
}
#u3639 {
  position:absolute;
  left:361px;
  top:0px;
  width:111px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3640 {
  position:absolute;
  left:2px;
  top:6px;
  width:107px;
  word-wrap:break-word;
}
#u3641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
}
#u3641 {
  position:absolute;
  left:472px;
  top:0px;
  width:73px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3642 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u3643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
}
#u3643 {
  position:absolute;
  left:545px;
  top:0px;
  width:145px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3644 {
  position:absolute;
  left:2px;
  top:6px;
  width:141px;
  word-wrap:break-word;
}
#u3645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:35px;
}
#u3645 {
  position:absolute;
  left:0px;
  top:29px;
  width:44px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3646 {
  position:absolute;
  left:2px;
  top:10px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:35px;
}
#u3647 {
  position:absolute;
  left:44px;
  top:29px;
  width:109px;
  height:35px;
}
#u3648 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u3649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:35px;
}
#u3649 {
  position:absolute;
  left:153px;
  top:29px;
  width:208px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3650 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u3651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
}
#u3651 {
  position:absolute;
  left:361px;
  top:29px;
  width:111px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3652 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u3653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
}
#u3653 {
  position:absolute;
  left:472px;
  top:29px;
  width:73px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3654 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u3655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:35px;
}
#u3655 {
  position:absolute;
  left:545px;
  top:29px;
  width:145px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3656 {
  position:absolute;
  left:2px;
  top:8px;
  width:141px;
  word-wrap:break-word;
}
#u3657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u3657 {
  position:absolute;
  left:0px;
  top:64px;
  width:44px;
  height:40px;
}
#u3658 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u3659 {
  position:absolute;
  left:44px;
  top:64px;
  width:109px;
  height:40px;
}
#u3660 {
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u3661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
}
#u3661 {
  position:absolute;
  left:153px;
  top:64px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3662 {
  position:absolute;
  left:2px;
  top:11px;
  width:204px;
  word-wrap:break-word;
}
#u3663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
}
#u3663 {
  position:absolute;
  left:361px;
  top:64px;
  width:111px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3664 {
  position:absolute;
  left:2px;
  top:11px;
  width:107px;
  word-wrap:break-word;
}
#u3665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
}
#u3665 {
  position:absolute;
  left:472px;
  top:64px;
  width:73px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3666 {
  position:absolute;
  left:2px;
  top:11px;
  width:69px;
  word-wrap:break-word;
}
#u3667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u3667 {
  position:absolute;
  left:545px;
  top:64px;
  width:145px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3668 {
  position:absolute;
  left:2px;
  top:11px;
  width:141px;
  word-wrap:break-word;
}
#u3669 {
  position:absolute;
  left:74px;
  top:232px;
  width:100px;
  height:16px;
}
#u3670 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3669_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3671 {
  position:absolute;
  left:74px;
  top:269px;
  width:100px;
  height:16px;
}
#u3672 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3671_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3673 {
  position:absolute;
  left:74px;
  top:302px;
  width:100px;
  height:16px;
}
#u3674 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3673_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
