body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1415px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:35px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1610 {
  position:absolute;
  left:50px;
  top:104px;
  width:1365px;
  height:35px;
}
#u1611 {
  position:absolute;
  left:2px;
  top:10px;
  width:1361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:1002px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1612 {
  position:absolute;
  left:50px;
  top:139px;
  width:1365px;
  height:1002px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1613 {
  position:absolute;
  left:2px;
  top:493px;
  width:1361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u1614 {
  position:absolute;
  left:1390px;
  top:113px;
  width:16px;
  height:15px;
}
#u1615 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u1616 {
  position:absolute;
  left:69px;
  top:113px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u1617 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1618 {
  position:absolute;
  left:63px;
  top:406px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1619 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1620 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1621 {
  position:absolute;
  left:157px;
  top:442px;
  width:159px;
  height:20px;
}
#u1622 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u1623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1623 {
  position:absolute;
  left:188px;
  top:492px;
  width:103px;
  height:20px;
}
#u1624 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u1625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1625 {
  position:absolute;
  left:594px;
  top:492px;
  width:241px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1626 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u1627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1627 {
  position:absolute;
  left:810px;
  top:492px;
  width:15px;
  height:16px;
}
#u1628 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u1629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1629 {
  position:absolute;
  left:133px;
  top:538px;
  width:304px;
  height:16px;
}
#u1630 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  white-space:nowrap;
}
#u1631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1631 {
  position:absolute;
  left:1058px;
  top:492px;
  width:241px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1632 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u1633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1633 {
  position:absolute;
  left:68px;
  top:709px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1634 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1635 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1636 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1637 {
  position:absolute;
  left:1329px;
  top:149px;
  width:31px;
  height:22px;
}
#u1638 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1639 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1640 {
  position:absolute;
  left:67px;
  top:787px;
  width:1308px;
  height:221px;
}
#u1641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u1641 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
  color:#000000;
}
#u1642 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:32px;
}
#u1643 {
  position:absolute;
  left:66px;
  top:0px;
  width:121px;
  height:32px;
  color:#000000;
}
#u1644 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:32px;
}
#u1645 {
  position:absolute;
  left:187px;
  top:0px;
  width:62px;
  height:32px;
  color:#000000;
}
#u1646 {
  position:absolute;
  left:2px;
  top:8px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u1647 {
  position:absolute;
  left:249px;
  top:0px;
  width:92px;
  height:32px;
  color:#000000;
}
#u1648 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u1649 {
  position:absolute;
  left:341px;
  top:0px;
  width:92px;
  height:32px;
  color:#000000;
}
#u1650 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u1651 {
  position:absolute;
  left:433px;
  top:0px;
  width:92px;
  height:32px;
  color:#000000;
}
#u1652 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
}
#u1653 {
  position:absolute;
  left:525px;
  top:0px;
  width:93px;
  height:32px;
  color:#000000;
}
#u1654 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
}
#u1655 {
  position:absolute;
  left:618px;
  top:0px;
  width:93px;
  height:32px;
  color:#000000;
}
#u1656 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
}
#u1657 {
  position:absolute;
  left:711px;
  top:0px;
  width:97px;
  height:32px;
  color:#000000;
}
#u1658 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
}
#u1659 {
  position:absolute;
  left:808px;
  top:0px;
  width:93px;
  height:32px;
  color:#000000;
}
#u1660 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
}
#u1661 {
  position:absolute;
  left:901px;
  top:0px;
  width:93px;
  height:32px;
  color:#000000;
}
#u1662 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
}
#u1663 {
  position:absolute;
  left:994px;
  top:0px;
  width:124px;
  height:32px;
  color:#000000;
}
#u1664 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
}
#u1665 {
  position:absolute;
  left:1118px;
  top:0px;
  width:93px;
  height:32px;
  color:#000000;
}
#u1666 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u1667 {
  position:absolute;
  left:1211px;
  top:0px;
  width:92px;
  height:32px;
  color:#000000;
}
#u1668 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
}
#u1669 {
  position:absolute;
  left:0px;
  top:32px;
  width:66px;
  height:22px;
  color:#000000;
}
#u1670 {
  position:absolute;
  left:2px;
  top:3px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
}
#u1671 {
  position:absolute;
  left:66px;
  top:32px;
  width:121px;
  height:22px;
  color:#000000;
}
#u1672 {
  position:absolute;
  left:2px;
  top:3px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
}
#u1673 {
  position:absolute;
  left:187px;
  top:32px;
  width:62px;
  height:22px;
  color:#000000;
}
#u1674 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
}
#u1675 {
  position:absolute;
  left:249px;
  top:32px;
  width:92px;
  height:22px;
  color:#000000;
}
#u1676 {
  position:absolute;
  left:2px;
  top:3px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
}
#u1677 {
  position:absolute;
  left:341px;
  top:32px;
  width:92px;
  height:22px;
  color:#000000;
}
#u1678 {
  position:absolute;
  left:2px;
  top:3px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
}
#u1679 {
  position:absolute;
  left:433px;
  top:32px;
  width:92px;
  height:22px;
  color:#000000;
}
#u1680 {
  position:absolute;
  left:2px;
  top:3px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
}
#u1681 {
  position:absolute;
  left:525px;
  top:32px;
  width:93px;
  height:22px;
  color:#000000;
}
#u1682 {
  position:absolute;
  left:2px;
  top:3px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
}
#u1683 {
  position:absolute;
  left:618px;
  top:32px;
  width:93px;
  height:22px;
  color:#000000;
}
#u1684 {
  position:absolute;
  left:2px;
  top:3px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
}
#u1685 {
  position:absolute;
  left:711px;
  top:32px;
  width:97px;
  height:22px;
  color:#000000;
}
#u1686 {
  position:absolute;
  left:2px;
  top:3px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
}
#u1687 {
  position:absolute;
  left:808px;
  top:32px;
  width:93px;
  height:22px;
  color:#000000;
}
#u1688 {
  position:absolute;
  left:2px;
  top:3px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
}
#u1689 {
  position:absolute;
  left:901px;
  top:32px;
  width:93px;
  height:22px;
  color:#000000;
}
#u1690 {
  position:absolute;
  left:2px;
  top:3px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
}
#u1691 {
  position:absolute;
  left:994px;
  top:32px;
  width:124px;
  height:22px;
  color:#000000;
}
#u1692 {
  position:absolute;
  left:2px;
  top:3px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
}
#u1693 {
  position:absolute;
  left:1118px;
  top:32px;
  width:93px;
  height:22px;
  color:#000000;
}
#u1694 {
  position:absolute;
  left:2px;
  top:3px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
}
#u1695 {
  position:absolute;
  left:1211px;
  top:32px;
  width:92px;
  height:22px;
  color:#000000;
}
#u1696 {
  position:absolute;
  left:2px;
  top:3px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:40px;
}
#u1697 {
  position:absolute;
  left:0px;
  top:54px;
  width:66px;
  height:40px;
  color:#000000;
}
#u1698 {
  position:absolute;
  left:2px;
  top:11px;
  width:62px;
  word-wrap:break-word;
}
#u1699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
#u1699 {
  position:absolute;
  left:66px;
  top:54px;
  width:121px;
  height:40px;
  color:#000000;
}
#u1700 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:40px;
}
#u1701 {
  position:absolute;
  left:187px;
  top:54px;
  width:62px;
  height:40px;
  color:#000000;
}
#u1702 {
  position:absolute;
  left:2px;
  top:11px;
  width:58px;
  word-wrap:break-word;
}
#u1703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u1703 {
  position:absolute;
  left:249px;
  top:54px;
  width:92px;
  height:40px;
  color:#000000;
}
#u1704 {
  position:absolute;
  left:2px;
  top:11px;
  width:88px;
  word-wrap:break-word;
}
#u1705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u1705 {
  position:absolute;
  left:341px;
  top:54px;
  width:92px;
  height:40px;
  color:#000000;
}
#u1706 {
  position:absolute;
  left:2px;
  top:11px;
  width:88px;
  word-wrap:break-word;
}
#u1707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u1707 {
  position:absolute;
  left:433px;
  top:54px;
  width:92px;
  height:40px;
  color:#000000;
}
#u1708 {
  position:absolute;
  left:2px;
  top:11px;
  width:88px;
  word-wrap:break-word;
}
#u1709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u1709 {
  position:absolute;
  left:525px;
  top:54px;
  width:93px;
  height:40px;
  color:#000000;
}
#u1710 {
  position:absolute;
  left:2px;
  top:11px;
  width:89px;
  word-wrap:break-word;
}
#u1711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u1711 {
  position:absolute;
  left:618px;
  top:54px;
  width:93px;
  height:40px;
  color:#000000;
}
#u1712 {
  position:absolute;
  left:2px;
  top:11px;
  width:89px;
  word-wrap:break-word;
}
#u1713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u1713 {
  position:absolute;
  left:711px;
  top:54px;
  width:97px;
  height:40px;
  color:#000000;
}
#u1714 {
  position:absolute;
  left:2px;
  top:11px;
  width:93px;
  word-wrap:break-word;
}
#u1713_ann {
  position:absolute;
  left:794px;
  top:54px;
  width:1px;
  height:1px;
}
#u1715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u1715 {
  position:absolute;
  left:808px;
  top:54px;
  width:93px;
  height:40px;
  color:#000000;
}
#u1716 {
  position:absolute;
  left:2px;
  top:11px;
  width:89px;
  word-wrap:break-word;
}
#u1717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u1717 {
  position:absolute;
  left:901px;
  top:54px;
  width:93px;
  height:40px;
  color:#000000;
}
#u1718 {
  position:absolute;
  left:2px;
  top:11px;
  width:89px;
  word-wrap:break-word;
}
#u1719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
}
#u1719 {
  position:absolute;
  left:994px;
  top:54px;
  width:124px;
  height:40px;
  color:#000000;
}
#u1720 {
  position:absolute;
  left:2px;
  top:11px;
  width:120px;
  word-wrap:break-word;
}
#u1719_ann {
  position:absolute;
  left:1104px;
  top:54px;
  width:1px;
  height:1px;
}
#u1721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u1721 {
  position:absolute;
  left:1118px;
  top:54px;
  width:93px;
  height:40px;
  color:#000000;
}
#u1722 {
  position:absolute;
  left:2px;
  top:11px;
  width:89px;
  word-wrap:break-word;
}
#u1721_ann {
  position:absolute;
  left:1197px;
  top:54px;
  width:1px;
  height:1px;
}
#u1723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u1723 {
  position:absolute;
  left:1211px;
  top:54px;
  width:92px;
  height:40px;
  color:#000000;
}
#u1724 {
  position:absolute;
  left:2px;
  top:11px;
  width:88px;
  word-wrap:break-word;
}
#u1723_ann {
  position:absolute;
  left:1289px;
  top:54px;
  width:1px;
  height:1px;
}
#u1725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:40px;
}
#u1725 {
  position:absolute;
  left:0px;
  top:94px;
  width:66px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1726 {
  position:absolute;
  left:2px;
  top:12px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
#u1727 {
  position:absolute;
  left:66px;
  top:94px;
  width:121px;
  height:40px;
}
#u1728 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:40px;
}
#u1729 {
  position:absolute;
  left:187px;
  top:94px;
  width:62px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1730 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u1731 {
  position:absolute;
  left:249px;
  top:94px;
  width:92px;
  height:40px;
  color:#000000;
}
#u1732 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u1733 {
  position:absolute;
  left:341px;
  top:94px;
  width:92px;
  height:40px;
  color:#000000;
}
#u1734 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u1735 {
  position:absolute;
  left:433px;
  top:94px;
  width:92px;
  height:40px;
  color:#000000;
}
#u1736 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u1737 {
  position:absolute;
  left:525px;
  top:94px;
  width:93px;
  height:40px;
  color:#000000;
}
#u1738 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u1739 {
  position:absolute;
  left:618px;
  top:94px;
  width:93px;
  height:40px;
  color:#000000;
}
#u1740 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u1741 {
  position:absolute;
  left:711px;
  top:94px;
  width:97px;
  height:40px;
  color:#000000;
}
#u1742 {
  position:absolute;
  left:2px;
  top:11px;
  width:93px;
  word-wrap:break-word;
}
#u1743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u1743 {
  position:absolute;
  left:808px;
  top:94px;
  width:93px;
  height:40px;
  color:#000000;
}
#u1744 {
  position:absolute;
  left:2px;
  top:11px;
  width:89px;
  word-wrap:break-word;
}
#u1745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u1745 {
  position:absolute;
  left:901px;
  top:94px;
  width:93px;
  height:40px;
  color:#000000;
}
#u1746 {
  position:absolute;
  left:2px;
  top:11px;
  width:89px;
  word-wrap:break-word;
}
#u1747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
}
#u1747 {
  position:absolute;
  left:994px;
  top:94px;
  width:124px;
  height:40px;
  color:#000000;
}
#u1748 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u1749 {
  position:absolute;
  left:1118px;
  top:94px;
  width:93px;
  height:40px;
  color:#000000;
}
#u1750 {
  position:absolute;
  left:2px;
  top:11px;
  width:89px;
  word-wrap:break-word;
}
#u1751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u1751 {
  position:absolute;
  left:1211px;
  top:94px;
  width:92px;
  height:40px;
  color:#000000;
}
#u1752 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:39px;
}
#u1753 {
  position:absolute;
  left:0px;
  top:134px;
  width:66px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1754 {
  position:absolute;
  left:2px;
  top:21px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:39px;
}
#u1755 {
  position:absolute;
  left:66px;
  top:134px;
  width:121px;
  height:39px;
}
#u1756 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:39px;
}
#u1757 {
  position:absolute;
  left:187px;
  top:134px;
  width:62px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1758 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
}
#u1759 {
  position:absolute;
  left:249px;
  top:134px;
  width:92px;
  height:39px;
  color:#000000;
}
#u1760 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
}
#u1761 {
  position:absolute;
  left:341px;
  top:134px;
  width:92px;
  height:39px;
  color:#000000;
}
#u1762 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
}
#u1763 {
  position:absolute;
  left:433px;
  top:134px;
  width:92px;
  height:39px;
  color:#000000;
}
#u1764 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:39px;
}
#u1765 {
  position:absolute;
  left:525px;
  top:134px;
  width:93px;
  height:39px;
  color:#000000;
}
#u1766 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:39px;
}
#u1767 {
  position:absolute;
  left:618px;
  top:134px;
  width:93px;
  height:39px;
  color:#000000;
}
#u1768 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:39px;
}
#u1769 {
  position:absolute;
  left:711px;
  top:134px;
  width:97px;
  height:39px;
  color:#000000;
}
#u1770 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u1771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:39px;
}
#u1771 {
  position:absolute;
  left:808px;
  top:134px;
  width:93px;
  height:39px;
  color:#000000;
}
#u1772 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u1773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:39px;
}
#u1773 {
  position:absolute;
  left:901px;
  top:134px;
  width:93px;
  height:39px;
  color:#000000;
}
#u1774 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u1775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:39px;
}
#u1775 {
  position:absolute;
  left:994px;
  top:134px;
  width:124px;
  height:39px;
  color:#FF0000;
}
#u1776 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:39px;
}
#u1777 {
  position:absolute;
  left:1118px;
  top:134px;
  width:93px;
  height:39px;
  color:#FF0000;
}
#u1778 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u1779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
}
#u1779 {
  position:absolute;
  left:1211px;
  top:134px;
  width:92px;
  height:39px;
  color:#008000;
}
#u1780 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u1781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:43px;
}
#u1781 {
  position:absolute;
  left:0px;
  top:173px;
  width:66px;
  height:43px;
}
#u1782 {
  position:absolute;
  left:2px;
  top:12px;
  width:62px;
  word-wrap:break-word;
}
#u1783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:43px;
}
#u1783 {
  position:absolute;
  left:66px;
  top:173px;
  width:121px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1784 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u1785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u1785 {
  position:absolute;
  left:187px;
  top:173px;
  width:62px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1786 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u1787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:43px;
}
#u1787 {
  position:absolute;
  left:249px;
  top:173px;
  width:92px;
  height:43px;
  font-size:14px;
  color:#333333;
}
#u1788 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u1789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:43px;
}
#u1789 {
  position:absolute;
  left:341px;
  top:173px;
  width:92px;
  height:43px;
  color:#000000;
}
#u1790 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u1791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:43px;
}
#u1791 {
  position:absolute;
  left:433px;
  top:173px;
  width:92px;
  height:43px;
  color:#000000;
}
#u1792 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u1793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:43px;
}
#u1793 {
  position:absolute;
  left:525px;
  top:173px;
  width:93px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1794 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u1795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:43px;
}
#u1795 {
  position:absolute;
  left:618px;
  top:173px;
  width:93px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1796 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u1797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:43px;
}
#u1797 {
  position:absolute;
  left:711px;
  top:173px;
  width:97px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1798 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u1799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:43px;
}
#u1799 {
  position:absolute;
  left:808px;
  top:173px;
  width:93px;
  height:43px;
  color:#000000;
}
#u1800 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u1801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:43px;
}
#u1801 {
  position:absolute;
  left:901px;
  top:173px;
  width:93px;
  height:43px;
  color:#000000;
}
#u1802 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u1803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:43px;
}
#u1803 {
  position:absolute;
  left:994px;
  top:173px;
  width:124px;
  height:43px;
  color:#000000;
}
#u1804 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u1805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:43px;
}
#u1805 {
  position:absolute;
  left:1118px;
  top:173px;
  width:93px;
  height:43px;
  color:#000000;
}
#u1806 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u1807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:43px;
}
#u1807 {
  position:absolute;
  left:1211px;
  top:173px;
  width:92px;
  height:43px;
  color:#000000;
}
#u1808 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u1640_ann {
  position:absolute;
  left:1363px;
  top:783px;
  width:1px;
  height:1px;
}
#u1809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1809 {
  position:absolute;
  left:475px;
  top:808px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1810 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1811 {
  position:absolute;
  left:1233px;
  top:809px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1812 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1813 {
  position:absolute;
  left:348px;
  top:916px;
  width:29px;
  height:20px;
}
#u1814 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1815 {
  position:absolute;
  left:445px;
  top:916px;
  width:15px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1816 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1817 {
  position:absolute;
  left:91px;
  top:915px;
  width:29px;
  height:20px;
}
#u1818 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u1819 {
  position:absolute;
  left:162px;
  top:916px;
  width:65px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u1820 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u1821 {
  position:absolute;
  left:270px;
  top:916px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u1822 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1823 {
  position:absolute;
  left:537px;
  top:917px;
  width:17px;
  height:16px;
}
#u1824 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1825 {
  position:absolute;
  left:1113px;
  top:916px;
  width:31px;
  height:30px;
  color:#FF0000;
}
#u1826 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u1827 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1093px;
  height:227px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1829 {
  position:absolute;
  left:67px;
  top:788px;
  width:1093px;
  height:227px;
}
#u1830 {
  position:absolute;
  left:2px;
  top:106px;
  width:1089px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:227px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1831 {
  position:absolute;
  left:1159px;
  top:788px;
  width:211px;
  height:227px;
}
#u1832 {
  position:absolute;
  left:2px;
  top:106px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1264px;
  height:2px;
}
#u1833 {
  position:absolute;
  left:91px;
  top:961px;
  width:1263px;
  height:1px;
}
#u1834 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1835 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u1836 {
  position:absolute;
  left:1214px;
  top:919px;
  width:10px;
  height:8px;
}
#u1837 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1838 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:4px;
  -moz-box-shadow:0px 4px 16px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 4px 16px rgba(0, 0, 0, 0.2);
  box-shadow:0px 4px 16px rgba(0, 0, 0, 0.2);
  text-align:left;
}
#u1839 {
  position:absolute;
  left:1131px;
  top:886px;
  width:184px;
  height:34px;
  text-align:left;
}
#u1840 {
  position:absolute;
  left:15px;
  top:65px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1841 {
  position:absolute;
  left:1144px;
  top:889px;
  width:158px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1842 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u1843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1843 {
  position:absolute;
  left:634px;
  top:918px;
  width:9px;
  height:16px;
}
#u1844 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1845 {
  position:absolute;
  left:728px;
  top:918px;
  width:9px;
  height:16px;
}
#u1846 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1847 {
  position:absolute;
  left:217px;
  top:587px;
  width:43px;
  height:20px;
}
#u1848 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1849 {
  position:absolute;
  left:63px;
  top:171px;
  width:57px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1850 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1851 {
  position:absolute;
  left:183px;
  top:204px;
  width:95px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1852 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u1853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1147px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u1853 {
  position:absolute;
  left:255px;
  top:204px;
  width:1147px;
  height:46px;
  font-size:14px;
  color:#0000FF;
}
#u1854 {
  position:absolute;
  left:0px;
  top:0px;
  width:1147px;
  word-wrap:break-word;
}
#u1855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1855 {
  position:absolute;
  left:197px;
  top:258px;
  width:85px;
  height:20px;
}
#u1856 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1857 {
  position:absolute;
  left:595px;
  top:258px;
  width:177px;
  height:16px;
}
#u1858 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u1859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1859 {
  position:absolute;
  left:200px;
  top:310px;
  width:85px;
  height:22px;
}
#u1860 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u1861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1861 {
  position:absolute;
  left:595px;
  top:310px;
  width:181px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1862 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u1863 {
  position:absolute;
  left:994px;
  top:753px;
  width:300px;
  height:25px;
}
#u1863_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1864 {
  position:absolute;
  left:1320px;
  top:753px;
  width:50px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1865 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u1866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1866 {
  position:absolute;
  left:260px;
  top:587px;
  width:300px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1867 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1868 {
  position:absolute;
  left:1280px;
  top:1038px;
  width:90px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1869 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u1870 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u1871 {
  position:absolute;
  left:1314px;
  top:916px;
  width:14px;
  height:8px;
}
#u1872 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1873 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:4px;
  -moz-box-shadow:0px 4px 16px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 4px 16px rgba(0, 0, 0, 0.2);
  box-shadow:0px 4px 16px rgba(0, 0, 0, 0.2);
  text-align:left;
}
#u1874 {
  position:absolute;
  left:1196px;
  top:883px;
  width:262px;
  height:34px;
  text-align:left;
}
#u1875 {
  position:absolute;
  left:15px;
  top:65px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1876 {
  position:absolute;
  left:1214px;
  top:886px;
  width:225px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1877 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u1878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1878 {
  position:absolute;
  left:215px;
  top:353px;
  width:85px;
  height:22px;
}
#u1879 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
