body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:498px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4105 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:35px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4106 {
  position:absolute;
  left:49px;
  top:50px;
  width:449px;
  height:35px;
}
#u4107 {
  position:absolute;
  left:2px;
  top:10px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:306px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4108 {
  position:absolute;
  left:50px;
  top:85px;
  width:448px;
  height:306px;
}
#u4109 {
  position:absolute;
  left:2px;
  top:145px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4108_ann {
  position:absolute;
  left:491px;
  top:81px;
  width:1px;
  height:1px;
}
#u4110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4110 {
  position:absolute;
  left:473px;
  top:60px;
  width:15px;
  height:15px;
}
#u4111 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4112 {
  position:absolute;
  left:377px;
  top:355px;
  width:60px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4113 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u4114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4114 {
  position:absolute;
  left:294px;
  top:355px;
  width:60px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4115 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u4116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4116 {
  position:absolute;
  left:60px;
  top:60px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4117 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4116_ann {
  position:absolute;
  left:166px;
  top:56px;
  width:1px;
  height:1px;
}
#u4118 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4119 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4121 {
  position:absolute;
  left:60px;
  top:140px;
  width:173px;
  height:25px;
}
#u4121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u4122 {
  position:absolute;
  left:65px;
  top:146px;
  width:8px;
  height:12px;
}
#u4123 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4124 {
  position:absolute;
  left:243px;
  top:140px;
  width:50px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4125 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u4124_ann {
  position:absolute;
  left:286px;
  top:136px;
  width:1px;
  height:1px;
}
#u4126 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4127 {
  position:absolute;
  left:60px;
  top:191px;
  width:382px;
  height:109px;
}
#u4128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:29px;
}
#u4128 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4129 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:29px;
}
#u4130 {
  position:absolute;
  left:62px;
  top:0px;
  width:156px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4131 {
  position:absolute;
  left:2px;
  top:6px;
  width:152px;
  word-wrap:break-word;
}
#u4132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:29px;
}
#u4132 {
  position:absolute;
  left:218px;
  top:0px;
  width:159px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4133 {
  position:absolute;
  left:2px;
  top:6px;
  width:155px;
  word-wrap:break-word;
}
#u4134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u4134 {
  position:absolute;
  left:0px;
  top:29px;
  width:62px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4135 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u4136 {
  position:absolute;
  left:62px;
  top:29px;
  width:156px;
  height:35px;
}
#u4137 {
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u4138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
}
#u4138 {
  position:absolute;
  left:218px;
  top:29px;
  width:159px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4139 {
  position:absolute;
  left:2px;
  top:8px;
  width:155px;
  word-wrap:break-word;
}
#u4140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:40px;
}
#u4140 {
  position:absolute;
  left:0px;
  top:64px;
  width:62px;
  height:40px;
}
#u4141 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
}
#u4142 {
  position:absolute;
  left:62px;
  top:64px;
  width:156px;
  height:40px;
}
#u4143 {
  position:absolute;
  left:2px;
  top:12px;
  width:152px;
  word-wrap:break-word;
}
#u4144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:40px;
}
#u4144 {
  position:absolute;
  left:218px;
  top:64px;
  width:159px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4145 {
  position:absolute;
  left:2px;
  top:11px;
  width:155px;
  word-wrap:break-word;
}
#u4146 {
  position:absolute;
  left:85px;
  top:228px;
  width:36px;
  height:16px;
}
#u4147 {
  position:absolute;
  left:16px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4146_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4148 {
  position:absolute;
  left:85px;
  top:265px;
  width:43px;
  height:16px;
}
#u4149 {
  position:absolute;
  left:16px;
  top:0px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4148_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4150 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:4px;
}
#u4151 {
  position:absolute;
  left:375px;
  top:207px;
  width:10px;
  height:4px;
}
#u4152 {
  position:absolute;
  left:2px;
  top:-6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:10px;
}
#u4153 {
  position:absolute;
  left:378px;
  top:198px;
  width:4px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4154 {
  position:absolute;
  left:-1px;
  top:-3px;
  width:6px;
  visibility:hidden;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:3px 8px;
  -ms-transform-origin:3px 8px;
  -moz-transform-origin:3px 8px;
  -webkit-transform-origin:3px 8px;
}
#u4155 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:4px;
}
#u4156 {
  position:absolute;
  left:219px;
  top:208px;
  width:10px;
  height:4px;
}
#u4157 {
  position:absolute;
  left:2px;
  top:-6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:10px;
}
#u4158 {
  position:absolute;
  left:222px;
  top:199px;
  width:4px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4159 {
  position:absolute;
  left:-1px;
  top:-3px;
  width:6px;
  visibility:hidden;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:3px 8px;
  -ms-transform-origin:3px 8px;
  -moz-transform-origin:3px 8px;
  -webkit-transform-origin:3px 8px;
}
