body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:835px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3782 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:35px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3783 {
  position:absolute;
  left:49px;
  top:50px;
  width:786px;
  height:35px;
}
#u3784 {
  position:absolute;
  left:2px;
  top:10px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:306px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3785 {
  position:absolute;
  left:50px;
  top:85px;
  width:785px;
  height:306px;
}
#u3786 {
  position:absolute;
  left:2px;
  top:145px;
  width:781px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3787 {
  position:absolute;
  left:804px;
  top:60px;
  width:15px;
  height:15px;
}
#u3788 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3789 {
  position:absolute;
  left:690px;
  top:352px;
  width:60px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3790 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u3791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3791 {
  position:absolute;
  left:607px;
  top:352px;
  width:60px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3792 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u3791_ann {
  position:absolute;
  left:660px;
  top:348px;
  width:1px;
  height:1px;
}
#u3793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3793 {
  position:absolute;
  left:60px;
  top:60px;
  width:127px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3794 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u3795 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3796 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3797 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3798 {
  position:absolute;
  left:60px;
  top:140px;
  width:300px;
  height:25px;
}
#u3798_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u3799 {
  position:absolute;
  left:69px;
  top:146px;
  width:14px;
  height:12px;
}
#u3800 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3801 {
  position:absolute;
  left:370px;
  top:140px;
  width:50px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3802 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u3803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3803 {
  position:absolute;
  left:60px;
  top:193px;
  width:71px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3804 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3805 {
  position:absolute;
  left:131px;
  top:193px;
  width:95px;
  height:22px;
}
#u3805_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3805_input:disabled {
  color:grayText;
}
#u3805_ann {
  position:absolute;
  left:219px;
  top:189px;
  width:1px;
  height:1px;
}
#u3806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3806 {
  position:absolute;
  left:267px;
  top:193px;
  width:99px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3807 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3808 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3809 {
  position:absolute;
  left:370px;
  top:193px;
  width:106px;
  height:22px;
}
#u3809_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u3810 {
  position:absolute;
  left:461px;
  top:197px;
  width:13px;
  height:13px;
}
#u3811 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3812 {
  position:absolute;
  left:401px;
  top:195px;
  width:53px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3813 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3814 {
  position:absolute;
  left:510px;
  top:193px;
  width:106px;
  height:22px;
}
#u3814_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u3815 {
  position:absolute;
  left:599px;
  top:197px;
  width:13px;
  height:13px;
}
#u3816 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3817 {
  position:absolute;
  left:539px;
  top:195px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3818 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3819 {
  position:absolute;
  left:492px;
  top:197px;
  width:6px;
  height:16px;
}
#u3820 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u3821 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3822 {
  position:absolute;
  left:60px;
  top:225px;
  width:695px;
  height:109px;
}
#u3823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:29px;
}
#u3823 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3824 {
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3823_ann {
  position:absolute;
  left:30px;
  top:0px;
  width:1px;
  height:1px;
}
#u3825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u3825 {
  position:absolute;
  left:44px;
  top:0px;
  width:109px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3826 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u3827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:29px;
}
#u3827 {
  position:absolute;
  left:153px;
  top:0px;
  width:208px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3828 {
  position:absolute;
  left:2px;
  top:6px;
  width:204px;
  word-wrap:break-word;
}
#u3829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:29px;
}
#u3829 {
  position:absolute;
  left:361px;
  top:0px;
  width:111px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3830 {
  position:absolute;
  left:2px;
  top:6px;
  width:107px;
  word-wrap:break-word;
}
#u3831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
}
#u3831 {
  position:absolute;
  left:472px;
  top:0px;
  width:73px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3832 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u3833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
}
#u3833 {
  position:absolute;
  left:545px;
  top:0px;
  width:145px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3834 {
  position:absolute;
  left:2px;
  top:6px;
  width:141px;
  word-wrap:break-word;
}
#u3835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:35px;
}
#u3835 {
  position:absolute;
  left:0px;
  top:29px;
  width:44px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3836 {
  position:absolute;
  left:2px;
  top:10px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:35px;
}
#u3837 {
  position:absolute;
  left:44px;
  top:29px;
  width:109px;
  height:35px;
}
#u3838 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u3839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:35px;
}
#u3839 {
  position:absolute;
  left:153px;
  top:29px;
  width:208px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3840 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u3841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
}
#u3841 {
  position:absolute;
  left:361px;
  top:29px;
  width:111px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3842 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u3843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
}
#u3843 {
  position:absolute;
  left:472px;
  top:29px;
  width:73px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3844 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u3845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:35px;
}
#u3845 {
  position:absolute;
  left:545px;
  top:29px;
  width:145px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3846 {
  position:absolute;
  left:2px;
  top:8px;
  width:141px;
  word-wrap:break-word;
}
#u3847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u3847 {
  position:absolute;
  left:0px;
  top:64px;
  width:44px;
  height:40px;
}
#u3848 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u3849 {
  position:absolute;
  left:44px;
  top:64px;
  width:109px;
  height:40px;
}
#u3850 {
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u3851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
}
#u3851 {
  position:absolute;
  left:153px;
  top:64px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3852 {
  position:absolute;
  left:2px;
  top:11px;
  width:204px;
  word-wrap:break-word;
}
#u3853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
}
#u3853 {
  position:absolute;
  left:361px;
  top:64px;
  width:111px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3854 {
  position:absolute;
  left:2px;
  top:11px;
  width:107px;
  word-wrap:break-word;
}
#u3855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
}
#u3855 {
  position:absolute;
  left:472px;
  top:64px;
  width:73px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3856 {
  position:absolute;
  left:2px;
  top:11px;
  width:69px;
  word-wrap:break-word;
}
#u3857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u3857 {
  position:absolute;
  left:545px;
  top:64px;
  width:145px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3858 {
  position:absolute;
  left:2px;
  top:11px;
  width:141px;
  word-wrap:break-word;
}
#u3859 {
  position:absolute;
  left:74px;
  top:232px;
  width:100px;
  height:16px;
}
#u3860 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3859_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3861 {
  position:absolute;
  left:74px;
  top:269px;
  width:100px;
  height:16px;
}
#u3862 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3861_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3863 {
  position:absolute;
  left:74px;
  top:302px;
  width:100px;
  height:16px;
}
#u3864 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3863_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
